@component mask
  display flex
  position absolute
  justify-content center
  align-items center
  transition opacity .3s linear
  opacity 0.75
  background-color rgba(0, 0, 0, 1)
  box-shadow 0 0 6px rgba(0, 0, 0, 0.65)
  border-radius 2px
  z-index 99
  left 0
  right 0
  top 0
  bottom 0

  @m father
    position relative !important

  @m hide
    opacity 0

  @when full
    position fixed
    z-index 99999
