@import './layout.styl'
@import './common/*'
@import './common/transition.styl'
@import './components/base-card.styl'
@import './components/button.styl'
@import './components/loading.styl'
@import './components/tabs.styl'
@import './components/v-tips.styl'
@import './components/mask.styl'

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color transparent
